
<h3>Конкурс: Изменим мир к лучшему!</h3>

<%= render 'rules' %>

<% unless @change_world_projects.empty? %>
<table style="width: 100%">
  <tr>
    <th>ID / UID</th>
    <th>Образовательное <br/>Учреждение</th>
    <th>Номинация</th>
    <th>Название проекта</th>
    <th>Авторы</th>
    <th>Руководитель</th>
    <th>Телефон</th>
    <th>Мобильный</th>
    <th></th>
  </tr>

<% @change_world_projects.each do |change_world_project| %>
  <tr>
    <td><%= change_world_project.id.to_s + '/' + change_world_project.project_uid %></td>
    <td><%= change_world_project.school %></td>
    <td><%= change_world_project.nomination %></td>
    <td><%= change_world_project.project_name %></td>
    <td><%= change_world_project.authors %></td>
    <td><%= change_world_project.supervisor %></td>
    <td><%= change_world_project.phone_sup %></td>
    <td><%= change_world_project.phone_sup_mob %></td>
    <td><%= link_to 'Просмотреть', change_world_project %><br/>
        <%= link_to 'Редактировать', edit_change_world_project_path(change_world_project) %><br/>
        <%= link_to 'Удалить', change_world_project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<br />
<% end %>
<%= link_to 'Добавить проект', new_change_world_project_path, :class => 'btn btn-large btn-primary' %>
