<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook
xmlns="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>        
        <Cell><Data ss:Type="String">ID / UID</Data></Cell>
        <Cell><Data ss:Type="String">Образовательное Учреждение</Data></Cell>
        <Cell><Data ss:Type="String">Номинация</Data></Cell>
        <Cell><Data ss:Type="String">Название проекта</Data></Cell>
        <Cell><Data ss:Type="String">Авторы</Data></Cell>
        <Cell><Data ss:Type="String">Руководитель</Data></Cell>
        <Cell><Data ss:Type="String">Телефон</Data></Cell>
        <Cell><Data ss:Type="String">Мобильный</Data></Cell>
        <Cell><Data ss:Type="String"></Data></Cell>        
      </Row>
      
      <% @change_world_projects.each do |change_world_project| %>
        <Row>
          <Cell><Data ss:Type="String"><%= change_world_project.id.to_s + '/' + change_world_project.project_uid %></Data></Cell>
          <Cell><Data ss:Type="String"><%= change_world_project.school %></Data></Cell>
          <Cell><Data ss:Type="String"><%= change_world_project.nomination %></Data></Cell>
          <Cell><Data ss:Type="String"><%= change_world_project.project_name %></Data></Cell>
          <Cell><Data ss:Type="String"><%= change_world_project.authors %></Data></Cell>
          <Cell><Data ss:Type="String"><%= change_world_project.supervisor %></Data></Cell>
          <Cell><Data ss:Type="String"><%= change_world_project.phone_sup %></Data></Cell>
          <Cell><Data ss:Type="String"><%= change_world_project.phone_sup_mob %></Data></Cell>
        </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

